@*nhan dien cac file trong thu muc Models*@
@using project.Models
@using X.PagedList.Mvc.Core
@*khai bao kieu du lieu cua Model*@
@model X.PagedList.IPagedList<ItemGroup>
@*doi tuong de goi ham hien thi phan trang*@

@{
    //import file Layout.cshtml vao day
    Layout = "~/Areas/Admin/Views/Shared/Layout.cshtml";
}
@functions {
    public MyDbContext db = new MyDbContext();
    public string ListUsersInGroup(int _GroupId)
    {
        List<ItemUser> list_record = (from item_user in db.Users join item_user_group in db.UsersGroups on item_user.Id equals item_user_group.UserId where item_user_group.GroupId == _GroupId orderby item_user_group.Id descending select item_user).ToList();
        string str = "";
        foreach (var item_user in list_record)
        {
            str += item_user.Email + ";  ";
        }
        return str;
    }
}

<main>
    <div style="margin-bottom:5px;">
        <a href="/Admin/Groups/Create" class="btn btn-primary">Add Group</a>
    </div>
    <div class="container-fluid px-4">
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                List Grouts
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>User have added to Group</th>
                            <th>Arrange</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Name</th>
                            <th>User have added to Group</th>
                            <th>Arrange</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@Html.Raw(ListUsersInGroup(item.Id))</td>
                                <td style="text-align:center;">@item.Arrange</td>
                                <td style="text-align:center;">
                                    <a href="/Admin/Groups/SetUsers/@item.Id" data-toggle="tooltip" data-placement="bottom" title="Gán user vào nhóm quyền"><i class="fa fa-users"></i></a> &nbsp;&nbsp;&nbsp;&nbsp;
                                    <a href="/Admin/Groups/SetMenus/@item.Id" data-toggle="tooltip" data-placement="bottom" title="Gán menu vào nhóm quyền"><i class="fa fa-list"></i></a>
                                </td>
                                <td style="text-align:center;">
                                    <a href="/Admin/Groups/Update/@item.Id">Update</a>&nbsp;
                                    <a href="/Admin/Groups/Delete/@item.Id" onclick="return window.confirm('Are you sure?');">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>